{% extends "base.html" %}
{% load static %}

{% block title %}
{{ factory.name }}
{% endblock title %}

{% block extra_head %}
<link href="{% static "css/styles_factory.css" %}" rel="stylesheet" type="text/css"/>
{% endblock extra_head %}
 
 {% block content %}
<div class="my-block">
	<!--<div class="header-line">
		<div class="logo">
			<a href="/"><img type="images" width="60" high="60" src="images/logo.jpg" alt=""></a>
		</div>
		
		<div class="navigation">
			<a href="#" class="nav-item">a;sdlfjlakjsdf</a>
			<a href="#" class="nav-item">qewqrwerq</a>
		</div>
	</div>-->
	
	{% comment %} <div class="exit">
		<a href="/"><img width="55px" src="images/exit1.png" alt="Exit"></a>
	</div> {% endcomment %}
	
	<div class="header" style="background-image: url('{{ factory.image.url }}');">
		<div class="header-title">
			<div class="title">{{ factory.name }}</div>
			{% comment %} <div class="date">1740-е-1890-е</div> {% endcomment %}
		</div>
	</div>
	
	<div class="container">
		<div class="text">
			<p>{{ factory.description|linebreaks }}</p>
		</div>
		<div class="gallery">
			<div class="title">Галерея</div>
			{% for picture in factory.pictures.all %}
				<img class="foto" src="{{ picture.image.url }}" alt="фото">
				{% if picture.text %}
				<div class="signature">{{ picture.text }}</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

</div>

{% endblock content %}