{% extends "base.html" %}
{% load static %}

{% block title %}
{{ factory.name }}
{% endblock title %}

{% block extra_head %}
<link href="{% static "css/styles_factory.css" %}" rel="stylesheet" type="text/css"/>
{% endblock extra_head %}
 
 {% block content %}
<div class="my-block">
	
	<div class="header" style="background-image: url('{{ factory.image.url }}');">
		<div class="header-title">
			<div class="title bg-white mx-auto w-50 rounded-5 text-black">{{ factory.name }}</div>
		</div>
	</div>
	
	<div class="container">
		<div class="text">
			<p>{{ factory.description|linebreaks }}</p>
		</div>
		<div class="gallery">
			<div class="title">Галерея</div>
			{% for picture in factory.pictures.all %}
				<img class="foto" src="{{ picture.image.url }}" alt="фото">
				{% if picture.text %}
				<p class="fst-italic fs-6">{{ picture.text }}</p>
				{% endif %}
			{% endfor %}
		</div>
	</div>

</div>

{% endblock content %}